    body{
        background-color: hsl(0, 0%, 14%);
        color: hsl(0, 0%, 86%);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .card{
        height: 250px;
        width: 500px;
        background-color: rgb(210, 210, 210);
        color:hsl(0, 0%, 12%);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #profile-img{
        width: 100px;
        border-radius: 50%;
        padding: 15px;
        margin: 0 auto;
    }

    .left{
        height: 100%;
        width: 150px;
        /* display: inline;  */
        float: left;
        text-align: center;
    }

    .right{
        height:100%;
        /* display: inline; */
        float: left;
    }

    #sepration{
        height: 100%;
        width: 2px;
        background-color: grey;
        float:left;
    }

    #github, #twitter, #email {
        display: none;
        margin: 5px 0;
    }

    #github{
        text-decoration: none;
    }
    #github:hover{
        text-decoration: underline;
    }

    .fa-brands-fa-github{
        color:black
    }